<section id="infinite-loop" class="overflow-x-hidden relative">
    <!-- Sombras laterales para dar profundidad -->
    <div
      class="pointer-events-none absolute inset-y-0 left-0 w-15 sm:w-30 bg-gradient-to-r from-base-100 to-transparent z-20"
    ></div>
    <div
      class="pointer-events-none absolute inset-y-0 right-0 w-15 sm:w-30 bg-gradient-to-l from-base-100 to-transparent z-20"
    ></div>

    <!-- Carrusel horizontal animado -->
    <div
      class="flex gap-10 w-max animate-loop-scroll px-8"
    >
      <div
        *ngFor="let img of loopImagesWithDuplicates"
        class="flex items-center justify-center group transition-transform duration-300"
      >
        <img
          [src]="img.src"
          [alt]="img.alt"
          [title]="img.title"
          class="h-50 w-38 object-cover rounded-xl opacity-80 sm:h-75 sm:w-50 transition duration-500 ease-in-out"
        />
      </div>
    </div>
</section>
