<header id="hero" class="hero min-h-screen sticky top-0">
  <div class="hero-overlay"></div>

  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl md:text-7xl font-bold">
        <img [src]="logoUrl" alt="Photo Josma" />
      </h1>
      <p class="mb-5 font-semibold">
        Fotógrafo de Retratos y Parejas en Almería
      </p>
      <p class="mb-5 invisible" #descriptionEl>
        Sesiones al aire libre en Almería, Granada, Guadix y Roquetas. Cercanía,
        profesionalidad y calidad garantizada.
      </p>
      <a
        [href]="contactUrl + '?text=' + message"
        target="_blank"
        class="btn btn-primary"
        >Reserva tu sesión por WhatsApp</a
      >
    </div>
  </div>

  <!-- Flecha superpuesta en la parte inferior -->
  <div
    class="absolute bottom-4 left-1/2 -translate-x-1/2 animate-bounce text-white z-10"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-8 h-8"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M19 9l-7 7-7-7"
      />
    </svg>
  </div>
</header>
