.hero {
  background-image: url("/images/hero/portada-h.webp");
  background-size: cover;
  background-position: center;
}

@media (max-width: 1080px) {
  .hero {
    background-image: url("/images/hero/portada-v.webp");
    background-position: top center;
  }
}

#descriptionEl {
  opacity: 0;
  visibility: hidden;
}

.split-text-ready {
  visibility: visible !important;
}

.char,
.word,
.line {
  display: inline-block;
}
