<section
  id="about-me"
  class="max-w-4xl flex items-center h-full lg:min-h-[60vh] flex-wrap mx-auto lg:my-0"
>
  <div
    id="profile"
    class="w-full rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl bg-white mx-6 lg:mx-0 mb-8"
  >
    <div class="flex gap-4">
      <div class="p-4 md:p-12 text-center lg:text-left">
        <div
          class="block lg:hidden rounded-full shadow-xl mx-auto h-48 w-48 bg-cover bg-center"
          style="
            background-image: url('images/about-me/me.webp');
            background-size: cover;
            background-position: top right;
            background-size: 150%;
          "
        ></div>

        <h2 class="text-3xl font-bold pt-8 lg:pt-0">José Manuel García Travé</h2>
        <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-primary opacity-25"></div>

        <p class="pt-2 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start">
          <svg class="h-4 fill-current text-primary pr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20z" />
          </svg>
          Almería, España
        </p>

        <p class="pt-8 text-sm">
          Fotógrafo profesional
          <span class="font-bold">especializado en retratos individuales, sesiones de pareja, bodas, comuniones y eventos</span>
        </p>

        <p class="pt-2 text-sm">
          Trabajo en
          <span class="font-bold">Almería, Granada, Guadix, Roquetas, Aguadulce y toda Andalucía Oriental</span>
        </p>

        <p class="pt-2 text-sm">
          Ofrezco sesiones cercanas y personalizadas, donde capturo tu esencia con un estilo natural, profesional y emocional. Cada imagen cuenta tu historia.
        </p>

        <div class="pt-12 pb-8 flex justify-center gap-4">
          <a class="link" href="https://www.instagram.com/photojosma/" target="_blank" data-tippy-content="@instagram_handle">
            <svg class="h-6 fill-current text-gray-600 hover:text-primary" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <title>Instagram</title>
              <path d="M12 0C8.74 0 8.333.015 7.053.072..." />
            </svg>
          </a>
          <a class="link" [href]="contactUrl + '?text=' + message" target="_blank" data-tippy-content="@WhatsApp_handle">
            <svg class="h-6 fill-current text-gray-600 hover:text-primary" viewBox="0 0 308.00 308.00" xmlns="http://www.w3.org/2000/svg">
              <path d="M227.904,176.981c-0.6-0.288-23.054-11.345..." />
            </svg>
          </a>
        </div>
      </div>

      <div class="flex lg:w-3/5 p-2 bg-cover">
        <img
          loading="lazy"
          src="images/about-me/me.webp"
          alt="Fotógrafo profesional José Manuel García en Almería y Granada"
          title="José Manuel García Travé - Fotógrafo en Andalucía Oriental"
          class="w-full h-auto object-cover object-center rounded-none lg:rounded-lg shadow-2xl hidden lg:block"
        />
      </div>
    </div>
  </div>
</section>
